{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'style_data.css' %}">
        <title>Marvel Api</title>
    </head>
    <body>
        <a href='javascript:history.back()' >
            <i class="bi bi-arrow-left-circle"></i>
            Volver al buscador</a>
        <div class="container-fluid p-3 bg-danger text-white text-center" >
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/Marvel_Studios_logo.jpg"
                alt="Marvel_Logo" width="200">
            <img src="{% static 'imgs/deadpool3.jpg' %}" alt="Deadpool 3" width="200">
            <h1>El personaje es {{ data.name }}</h1>
        </div>

        <div class="container mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th> Descripción </th>
                        <th> Imagen </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>{{ data.description }}</p>
                        </td>
                        <td> <img src="{{ image }}" alt=""> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>