{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
          <title>Marvel Api</title>
    </head>
    <body>
        <div class="container-fluid p-2 text-white text-center">
            <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Marvel_Logo.svg"
                alt="Marvel_Logo" width="200">
             -->
            <form class="mt-3" action="{% url 'search:home' %}" method="GET">
                <input name="search" type="text" placeholder="Buscar personaje...">
            </form>
        </div>
        <div class="container mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ch in characters %}
                    <tr>
                        <td>{{ ch.id }}</td>
                        <td>
                            <a href='data_heroe/{{ch.name}}' >{{ ch.name }}</a>
                        </td>
                        <td>{{ ch.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
       </div>
    </body>
</html>