
body {
    background: linear-gradient(to right, red, yellow);
}

table {
    background-color: pink;
    opacity: 0.9;
    border-radius: 10px;
}

a {
    text-align: center;
    float: left;
    background-repeat:repeat-y;
    width:2in;
}

img {
    border-radius: 10px;
}
