body{
    background: url("https://images5.alphacoders.com/399/399453.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-color: black;
}

table {
    background-color: pink;
    opacity: 0.8;
    border-radius: 10px;
}

div.id {
    background-color: red;
}

img {
    border-radius: 10px;
}
